#lista-desplegable {
    display: none !important; 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #343a40;
    min-width: 160px;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    z-index: 9999;
    border: 1px solid #444;
}

/* Solo se activa cuando el JS lo decide */
#lista-desplegable.visible {
    display: block !important; /* Por defecto está en display: none  Por eso con el JS lo modificamos para mostrarlo en el momento elegido (cuando actua el evento de click) */
}

.mi-dropdown-container {
    position: relative;
}

#lista-desplegable li a.item-categoria {
    color: white !important;
    text-decoration: none !important;
    display: block;
    padding: 10px 15px;
}

#lista-desplegable li a.item-categoria:hover {
    background-color: #495057 !important;
    color: #ffd700 !important;
}

/*Carrusel de imágenes*/
.carousel-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
  }

  .carousel-track {
    display: flex;
    position: relative;
    height: 400px; /* Ajusta la altura a tu gusto */
    transition: transform 0.5s ease-in-out;
}
    
.slide {
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0; /* Foto invisible */
    transition: opacity 0.8s; /* Para que el cambio sea suave */
}

.slide img {
height: 300px;
width: 300px;
margin: auto;
margin-top: 10px;
display: block;
}

.slide.activa { /*Clase activa*/
opacity: 1; /* Foto visible */
}

/*
Quiero modificar el tamaño de la imagen específica en css
para ello: 

*/
.slide img[src="img/higiene2.jpg"] {
width: 300px;
height: 270px;
}
.slide img[src="img/juguete1.jpg"] {
width: 330px;
height: 270px;
}

.slide img[src="img/cama2.jpg"] {
width: 285px;
height: 200px;
margin-top: 100px;
}


#btn-prev {
position: absolute;
top: 30%;
left: 700px;
transform: translateY(-50%);
background-color: rgba(0, 0, 0, 0.5);
color: white;
border: none;
padding: 10px;
cursor: pointer;
z-index: 1000;  
}

#btn-next {
position: absolute;
top: 30%;
right: 700px;
transform: translateY(-50%);
background-color: rgba(0, 0, 0, 0.5);
color: white;
border: none;
padding: 10px;
cursor: pointer;
z-index: 1000;  
}



/*
Estructura externa e interna del formulario de login/registro
*/
.estFormulario{ 
    width: 100%;
    height: 100%;
    display: none; /* Oculto por defecto */
    justify-content: center;
    align-items: center;
    /*z-index: 1000;  Asegura que esté por encima de otros elementos */ 
}

#main-content{
    display: block;
}



#btn-ir-registro {
width: 360px;
height: 50px;
color: white;
background-color: #1e1d1d;
border-radius: 5px;
cursor: pointer;
}
#btn-ir-registro:hover {
    background-color:  #444; /* Un gris más claro */
}
    
#btn-ir-login {
    width: 360px;
    height: 50px;
    color: white;
    background-color: #1e1d1d;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 3px;
    }
#btn-ir-login:hover {
    background-color:  #444; /* Un gris más claro */
}
        

#btnEntrar {
background-color:#1e1d1d;
color:white;
padding: 5px;
border-radius: 5px;
cursor: pointer;
width: 100%;
}
#btnEntrar:hover {
    background-color:  #444; /* Un gris más claro */
}
.btnFinalizarReg {
background-color:#1e1d1d;
color:white;
padding: 5px;
border-radius: 5px;
cursor: pointer;
width: 100%;

}
.btnFinalizarReg:hover {
    background-color:  #444; /* Un gris más claro */
}

#seccion-login {

    display: none;
}
#seccion-reg {
    
    display: none;
}

#errorMsgLogin{
    color: red;
    margin-top: 10px;
}


#loginEmail{
    border-color: rgb(227, 227, 225);
    border-radius: 5px;
    width: 100%;
    outline: none;
    margin: 3px;
    height: 40px;
}

#loginEmail:focus{
    outline: none;
    background-color: #ffffff;
    border-color: #86b7fe; /* Un azul muy claro */
    /* Esta sombra es la que da el efecto 'suave' */
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); 
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 5px;
}

#loginPass{

    border-color: rgb(227, 227, 225);
    border-radius: 5px;
    width: 100%;
    outline: none;
    margin: 3px;
    height: 40px;
}

#loginPass:focus{
    outline: none;
    background-color: #ffffff;
    border-color: #86b7fe; /* Un azul muy claro */
    /* Esta sombra es la que da el efecto 'suave' */
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); 
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 5px;
}
#regNombre, #regEmail, #regIban, #regTel, #regPass:focus {
    
    border-color: rgb(227, 227, 225);
    border-radius: 5px;
    width: 100%;
    outline: none;
    margin: 3px;
    height: 40px;
}
#regNombre:focus, #regEmail:focus, #regIban:focus, #regTel:focus, #regPass:focus {
    outline: none;
    background-color: #ffffff;
    border-color: #86b7fe; /* Un azul muy claro */
    /* Esta sombra es la que da el efecto 'suave' */
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); 
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 5px;
}

/*Mostrar mensajes error registro*/
#errNombre, #errEmail, #errIban, #errTel, #errContrasena {
    color: red;
    margin-top: 5px;
    display: none; /*Oculto por defecto */
}

#regNombre, #regEmail, #regIban, #regTel, #regPass {
    border-color: rgb(227, 227, 225);
    border-radius: 5px;
    width: 100%;
    outline: none;
    margin: 3px;
    height: 40px;
}

/*
footer estilo básico
.bg-dark {
    align-content: center;
    text-align: center;
    height: 100px;
    width: 100%;
    color: white !important;
    background-color: #1e1d1d !important;
}
*/
