#lista-desplegable {
    display: none !important; 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #343a40;
    min-width: 160px;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    z-index: 9999;
    border: 1px solid #444;
}

/* Solo se activa cuando el JS lo decide */
#lista-desplegable.visible {
    display: block !important; /* Por defecto está en display: none  Por eso con el JS lo modificamos para mostrarlo en el momento elegido (cuando actua el evento de click) */
}

.mi-dropdown-container {
    position: relative;
}

#lista-desplegable li a.item-categoria {
    color: white !important;
    text-decoration: none !important;
    display: block;
    padding: 10px 15px;
}

#lista-desplegable li a.item-categoria:hover {
    background-color: #495057 !important;
    color: #ffd700 !important;
}

/*Carrusel de imágenes*/
.carousel-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
  }

  .carousel-track {
    display: flex;
    position: relative;
    height: 400px; /* Ajusta la altura a tu gusto */
    transition: transform 0.5s ease-in-out;
}
    
.slide {
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0; /* Foto invisible */
    transition: opacity 0.8s; /* Para que el cambio sea suave */
}

.slide img {
height: 300px;
width: 300px;
margin: auto;
margin-top: 10px;
display: block;
}

.slide.activa { /*Clase activa*/
opacity: 1; /* Foto visible */
}

/*
Quiero modificar el tamaño de la imagen específica en css
para ello: 

*/
.slide img[src="img/higiene2.jpg"] {
width: 300px;
height: 270px;
}
.slide img[src="img/juguete1.jpg"] {
width: 330px;
height: 270px;
}

.slide img[src="img/cama2.jpg"] {
width: 285px;
height: 200px;
margin-top: 100px;
}


#btn-prev {
position: absolute;
top: 30%;
left: 700px;
transform: translateY(-50%);
background-color: rgba(0, 0, 0, 0.5);
color: white;
border: none;
padding: 10px;
cursor: pointer;
z-index: 1000;  
}

#btn-next {
position: absolute;
top: 30%;
right: 700px;
transform: translateY(-50%);
background-color: rgba(0, 0, 0, 0.5);
color: white;
border: none;
padding: 10px;
cursor: pointer;
z-index: 1000;  
}



/* Ventana emergente 
Estructura externa e interna 
*/
.modal-estructura-externa { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background: rgba(0, 0, 0, 0.541); 
    z-index: 10000; /* Coloca la ventana emergente encima de todo */
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.modal-extructura-interna {
    background: white; 
    padding: 20px; 
    border-radius: 8px;
    width: 90%; 
    max-width: 400px; 
    position: relative;
}


#btn-ir-login {

width: 360px;
height:50px;
margin-bottom: 10px;
}

#btn-ir-registro {
width: 360px;
height: 50px;
}