#lista-desplegable {
    display: none !important; 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #343a40;
    min-width: 160px;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    z-index: 9999;
    border: 1px solid #444;
}

/* Solo se activa cuando el JS lo decide */
#lista-desplegable.visible {
    display: block !important; /* Por defecto está en display: none  Por eso con el JS lo modificamos para mostrarlo en el momento elegido (cuando actua el evento de click) */
}

.mi-dropdown-container {
    position: relative;
}

#lista-desplegable li a.item-categoria {
    color: white !important;
    text-decoration: none !important;
    display: block;
    padding: 10px 15px;
}

#lista-desplegable li a.item-categoria:hover {
    background-color: #495057 !important;
    color: #ffd700 !important;
}

/*Carrusel de imágenes*/
.carousel-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
  }
  
  .slide img {
    width: 100%;
    display: block;
  }
  